<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="API TestSuite 1">
  <test name="TLA_API_Testing">
  <listeners>
        <listener class-name="common.Listeners"/>
    </listeners>
    <classes>
    	 <class name="testcases.test_003_EnrouteGPSActivity"/>
   		 <class name="testcases.test_001_StartGPSActivity"/>
      	 <class name="testcases.test_002_StopGPSActivity"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
